version: '3.8'
services:
  web:
    image: mmi3docker/symfony-2024
    container_name: symfony-web
    restart: always
    volumes:
      - ./:/var/www/html
      - ./apache2/sites-enabled/:/etc/apache2/sites-enabled/
  
  db:
    image: mariadb:10.5
    container_name: symfony-db
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: PASSWORD
      MYSQL_USER: symfony
      MYSQL_PASSWORD: PASSWORD
      MYSQL_DATABASE: symfony
  
  phpmyadmin:
    image: phpmyadmin
    container_name: symfony-admin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: PASSWORD
      MYSQL_USER: symfony
      MYSQL_PASSWORD: PASSWORD
      MYSQL_DATABASE: symfony
  
  maildev:
    image: maildev/maildev
    container_name: symfony-mail
    restart: always
    ports:
      - "1080:1080"

volumes:
  db-data:
